<ion-content>
    <ion-toolbar color="primary">
        <ion-title>{{teamName}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only clear color="light" (tap)="closeMenu()">
                <ion-icon name="close" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <ion-list>
        <ion-item *ngFor="let plist of playerListv">
            <ion-icon item-right name="md-create"  (tap)="editPlayer(plist)"></ion-icon>
            <ion-avatar item-start>
                <img [src]="plist.image" style="width: 13vh;height: 13vh;" #imageToView (click)="viewImage(imageToView)">
            </ion-avatar>
            <h2>{{plist.first_name}}&nbsp;{{plist.last_name}}</h2>
            <p>{{plist.age}}</p>
            <p>{{plist.role}}</p>
        </ion-item>
    </ion-list>
</ion-content>