page-team-registration {
    .scroll-content {
        padding: 0px !important;
    }
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
    .validationMsg {
        color: #f44336;
        float: left;
        margin-left: 5vw;
    }
    div img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    .imageDiv {
        background: #f5f5f5;
        padding: 3%;
    }
    .divImage {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 1px solid #488aff;
        display: inline-block;
    }
    .teamList {
        margin-top: 20%;
        padding-left: 0px !important;
    }
    ion-card-content span {
        color: #1976D2;
    }
    .segment .segment-button.segment-activated {
        border-bottom: 2px solid #fff;
        opacity: 1;
    }
    .segment .segment-button {
        color: #fff;
        border-bottom: 2px solid transparent;
    }
    .segment-button.segment-activated {
        border-bottom: 2px solid #fff;
        font-weight: bold;
        font-size: 1.4rem;
        color: #fff;
    }
    .toolbar .segment .segment-button.segment-activated {
        border-bottom: 2px solid white;
    }
    .toolbar-ios-primary .segment-ios .segment-button.segment-activated {
        color: #fff;
    }
    .input .ng-pristine .ng-invalid .ng-touched {
        border-bottom: 1px solid #efefefef;
    }
    .list .item-input:last-child {
        border-bottom: 0px solid transparent;
    }
}