<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="frompage != 'playerlist'">Team Register</ion-title>
        <ion-title *ngIf="frompage == 'playerlist'">Update Player</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="teamDetails">
            <ion-segment-button value="team">
                Team
            </ion-segment-button>
            <ion-segment-button value="reg" (ionChange)="onSegmentChange()">
                Add Players
            </ion-segment-button>
            <ion-segment-button value="list">
                View Players
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-sm-12 col-md-6 offset-md-3 style="text-align:center">
                <div [(ngSwitch)]="teamDetails">
                    <!-- Team Name -->
                    <div *ngSwitchCase="'team'">
                        <ion-list no-lines>
                            <ion-list-header style="background: #f5f5f5;">
                                <ion-title>Register Team</ion-title>
                            </ion-list-header>
                            <form [formGroup]="teamID">
                                <ion-item hidden>
                                    <ion-label floating>Team ID</ion-label>
                                    <ion-input type="text" formControlName="team_id" [disabled]="true"></ion-input>
                                </ion-item>
                                <ion-item hidden>
                                    <ion-label floating>User ID</ion-label>
                                    <ion-input type="text" formControlName="user_id" [disabled]="true"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label floating>Team Name</ion-label>
                                    <ion-input type="text" autofocus formControlName="team_name"></ion-input>
                                </ion-item>
                                <div *ngIf="!teamID.controls.team_name.valid && (teamID.controls.team_name.dirty || touched)">
                                    <p class="validationMsg">Team Name Should Contain min of 3 character</p>
                                </div>
                            </form>
                        </ion-list>
                        <div padding>
                            <button ion-button block color="accent" [disabled]="!teamID.valid" (tap)="teamName()">Add Team</button>
                        </div>
                    </div>
                    <!-- Player Registration -->
                    <div *ngSwitchCase="'reg'">
                        <form [formGroup]="teamRegister">
                            <div class="imageDiv">
                                <div class="divImage">
                                    <img [src]="imgModal" width="105px" height="105px" #imageToView (click)="onClick(imageToView)">
                                </div>
                                <ion-fab style="margin-left: -10%;margin-top: 15%;" #fab>
                                    <button ion-fab mini icon-only clear>
                                        <ion-icon style="text-align:center" name="camera"></ion-icon>
                                    </button>
                                    <ion-fab-list side="bottom">
                                        <button ion-fab (tap)="openCamera(fab)">
                                            <ion-icon name="ios-camera"></ion-icon>
                                        </button>
                                        <button ion-fab (tap)="openGallery(fab)">
                                            <ion-icon name="ios-images"></ion-icon>
                                        </button>
                                    </ion-fab-list>
                                </ion-fab>
                            </div>
                            <ion-list no-lines>
                                <ion-item hidden>
                                    <ion-label floating>Player ID</ion-label>
                                    <ion-input type="text" [disabled]="true" formControlName="player_id"></ion-input>
                                </ion-item>
                                <ion-card *ngIf="this.frompage != 'playerlist'?this.totalFlag == 'teamSelected':this.totalFlag == 'playerlist'">
                                    <ion-card-content>
                                        No of Players in Team:
                                        <span>{{length}}</span>
                                    </ion-card-content>
                                </ion-card>
                                <ion-item>
                                    <ion-label floating>Team</ion-label>
                                    <ion-select formControlName="team_name" (ionChange)="selectTeam($event)">
                                        <ion-option *ngFor="let t of teamData" [value]="t.team_name">{{t.team_name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item hidden>
                                    <ion-label floating>Team ID</ion-label>
                                    <ion-input type="text" [disabled]="true" formControlName="team_id"></ion-input>
                                    <!-- value={{editPlayer?.team_id}} -->
                                </ion-item>
                                <ion-item>
                                    <ion-label floating>First Name</ion-label>
                                    <ion-input type="text" formControlName="first_name"></ion-input>
                                    <!-- value={{editPlayer?.first_name}} -->
                                </ion-item>
                                <ion-item>
                                    <ion-label floating>Last Name</ion-label>
                                    <ion-input type="text" formControlName="last_name"></ion-input>
                                    <!-- value={{editPlayer?.last_name}} -->
                                </ion-item>
                                <ion-item>
                                    <ion-label floating>Age</ion-label>
                                    <ion-input type="number" formControlName="age"></ion-input>
                                    <!-- value={{editPlayer?.age}} -->
                                </ion-item>
                                <ion-item>
                                    <ion-label floating>Role</ion-label>
                                    <ion-select formControlName="role">
                                        <ion-option>Batsman</ion-option>
                                        <ion-option>Bowler</ion-option>
                                        <ion-option>All Rounder</ion-option>
                                        <ion-option>Wicket Keeper</ion-option>
                                        <ion-option>Captain</ion-option>
                                        <ion-option>Substitute</ion-option>
                                    </ion-select>
                                </ion-item>
                            </ion-list>
                        </form>
                        <div padding>
                            <button *ngIf="frompage != 'playerlist'" ion-button block (tap)="addToTeam()" color="accent" [disabled]="!teamRegister.valid">Add to Team</button>
                            <button *ngIf="frompage == 'playerlist'" ion-button block (tap)="addToTeam()" color="accent">Update</button>
                        </div>
                    </div>
                    <!-- Player List -->
                    <div *ngSwitchCase="'list'">
                        <ion-list>
                            <ion-list-header style="background: #f5f5f5;">
                                <ion-title>Select Team</ion-title>
                            </ion-list-header>
                        </ion-list>
                        <ion-row>
                            <ion-col col-6 *ngFor="let item of teamData" (tap)="toggleSection(item)">
                                <ion-card>
                                    <h4 padding text-center>
                                        <b>{{item.team_name}}</b>
                                    </h4>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>