page-profile
{
    .profileImage
    {
        border-radius: 100%;
        margin-top: 10%;
        height: 20vh;
        margin-left: 30%;
    }
    .grid{
        padding:0px;
    }
    .col {
        padding: 0px;
    }
    .toolbar {
        padding:0px;
    }
}