<ion-header>
    <ion-navbar color="primary">
        <ion-title>Profile</ion-title>
    </ion-navbar>
    <ion-toolbar color="accent">
        <ion-row style="background: #1976d2;color:#FFF;">
            <ion-col col-12>
                <div padding style="width:100%;height:20vh;">
                    <img src="assets/imgs/icon_03.png" class="profileImage">
                </div>
            </ion-col>
        </ion-row>
        <br>
        <h5 padding style="margin-top:10%;color:#fff;" text-center>{{loginData.username}}</h5>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-card>
            <ion-card-header style="background: #f5f5f5;">
                <ion-title text-center>
                    Personal Information&nbsp;
                    <ion-icon end name="md-create"></ion-icon>
                </ion-title>
            </ion-card-header>
            <ion-card-content padding>
                <p text-center>{{loginData.email_id}}</p>
                <p text-center>{{loginData.mobile_no}}</p>
            </ion-card-content>
        </ion-card>
        <!-- <ion-card>
            <ion-card-header style="background: #f5f5f5;">
                <ion-title>
                    Address Information&nbsp;
                    <ion-icon end name="md-create"></ion-icon>
                </ion-title>
            </ion-card-header>
            <ion-card-content padding>
                <p>Street &nbsp;Some street</p>
                <p>Village &nbsp;Some village</p>
            </ion-card-content>
        </ion-card> -->
    </ion-grid>
</ion-content>
<ion-footer padding>
    <ion-toolbar>
        <button ion-button (click)="editUser(loginData)" color="accent" block><ion-icon name="ios-refresh-circle-outline" icon-left></ion-icon>&nbsp;Update</button>
    </ion-toolbar>
</ion-footer>