<ion-header *ngIf="profilePage == 'editUserDetails'">
    <ion-navbar color="primary">
        <ion-title>Update Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-sm-12 col-md-6 offset-md-3 style="margin-top:10%; text-align:center">
                <ion-list *ngIf="reg == 'signIn'" no-lines>
                    <img class="logo" src="./assets/imgs/icon_01.png">
                    <h3>CrizCatch</h3>
                    <p>The Place Where People Addict</p>
                    <form [formGroup]="loginForm">
                        <ion-item>
                            <ion-label floating>Email</ion-label>
                            <ion-input type="email" formControlName="email_id"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>
                    </form>
                    <p text-right class="forgotBtn" (tap)="openForPass()">Forgot Password?</p>
                </ion-list>
                <div *ngIf="reg == 'signIn'">
                    <button ion-button full color="accent" [disabled]=!loginForm.valid (tap)="signIn()">Sign In</button>
                    <button ion-button full clear color="dark" (tap)="register('signIn')">Dont have an Account ?&nbsp;Sign Up</button>
                </div>
                <!-- Login End -->
                <!-- Register -->
                <ion-list *ngIf="reg == 'signUp'" no-lines>
                    <h3 *ngIf="profilePage != 'editUserDetails'">Sign Up</h3>
                    <img class="logo" src="./assets/imgs/icon_03.png">
                    <form [formGroup]="registerForm">
                        <ion-item>
                            <ion-label floating>Full Name</ion-label>
                            <ion-input type="text" formControlName="username"></ion-input>
                            <img item-right src="./assets/imgs/icon_04.png" *ngIf="registerForm.controls.username.valid" height="20" width="20" class="tickIcon">
                        </ion-item>
                        <div *ngIf="!registerForm.controls.username.valid && (registerForm.controls.username.dirty || touched)">
                            <p class="validationMsg">Name Should Contain min of 3, max of 20 character</p>
                        </div>
                        <ion-item>
                            <ion-label floating>Email</ion-label>
                            <ion-input type="email" [disabled]="profilePage !='editUserDetails'?false:true" formControlName="email_id"></ion-input>
                            <img item-right src="./assets/imgs/icon_04.png" *ngIf="registerForm.controls.email_id.valid" height="20" width="20" class="tickIcon">
                        </ion-item>
                        <div *ngIf="!registerForm.controls.email_id.valid && (registerForm.controls.email_id.dirty || touched)">
                            <p class="validationMsg">You have entered an invalid e-mail</p>
                        </div>
                        <ion-item>
                            <ion-label floating>Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                            <img item-right src="./assets/imgs/icon_04.png" *ngIf="registerForm.controls.password.valid" height="20" width="20" class="tickIcon">
                        </ion-item>
                        <div *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || touched)">
                            <p class="validationMsg">Password Should Contain min of 6, max of 12 digits</p>
                        </div>
                        <ion-item>
                            <ion-label floating>Mobile Number</ion-label>
                            <ion-input type="tel" formControlName="mobile_no" maxLength="10"></ion-input>
                            <img item-right src="./assets/imgs/icon_04.png" *ngIf="registerForm.controls.mobile_no.valid" height="20" width="20" class="tickIcon">
                        </ion-item>
                        <div *ngIf="!registerForm.controls.mobile_no.valid && (registerForm.controls.mobile_no.dirty || touched)">
                            <p class="validationMsg">Please Enter a 10 digit Mobile Number</p>
                        </div>
                    </form>
                </ion-list>
                <div *ngIf="reg == 'signUp'">
                    <button *ngIf="profilePage != 'editUserDetails'" [disabled]=!registerForm.valid ion-button full color="accent" (tap)="signUp()">Create</button>
                    <button *ngIf="profilePage == 'editUserDetails'" [disabled]=!registerForm.valid ion-button full color="accent" (tap)="signUp()">Update</button>
                    <button *ngIf="profilePage != 'editUserDetails'" ion-button full clear color="dark" (tap)="register('signUp')">Already have an Account ?&nbsp;Sign In</button>
                </div>
                <!-- update Password -->
                <ion-list *ngIf="reg == 'passwordUpdate'" no-lines>
                    <img class="logo" src="./assets/imgs/icon_02.png">
                    <h3>CrizCatch</h3>
                    <p>The Place Where People Addict</p>
                    <form [formGroup]="updateForm">
                        <ion-item>
                            <ion-label floating>Email</ion-label>
                            <ion-input type="email" formControlName="email_id"></ion-input>
                        </ion-item>
                        <div *ngIf="!updateForm.controls.email_id.valid && (updateForm.controls.email_id.dirty || touched)">
                            <p class="validationMsg">You have entered an invalid e-mail</p>
                        </div>
                        <ion-item>
                            <ion-label floating>New Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>
                        <div *ngIf="!updateForm.controls.password.valid && (updateForm.controls.password.dirty || touched)">
                            <p class="validationMsg">Password Should Contain min of 6, max of 12 digits</p>
                        </div>
                        <ion-item>
                            <ion-label floating>Confirm Password</ion-label>
                            <ion-input type="password" formControlName="cnfrmpassword"></ion-input>
                        </ion-item>
                        <div *ngIf="!updateForm.controls.cnfrmpassword.valid && (updateForm.controls.cnfrmpassword.dirty || touched)">
                            <p class="validationMsg">Confirm Password Should Contain min of 6, max of 12 digits</p>
                        </div>
                    </form>
                </ion-list>
                <div *ngIf="reg == 'passwordUpdate'">
                    <button ion-button full color="accent" [disabled]=!updateForm.valid (tap)="updatePass()">Update Password</button>
                    <button ion-button full clear color="dark" (tap)="register('signUp')">Back to SignIn</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>