page-registration {
    .scroll-content {
        padding: 0px !important;
    }
    // text-align: center;
    .logo {
        width: 40%;
    }
    .accountText {
        font-size: 0.6em;
        display: inline-flex;
        margin-left: 6vw;
    }
    .forgotBtn {
        margin-top: 13% !important;
        font-size: 1.3rem;
        background: transparent;
        font-weight: 500;
    }
    .list .item-input:last-child {
        border-bottom: 0px solid transparent;
    }
    .validationMsg{
        color:#f44336;
        float: left;
        margin-left: 5vw;
    }
    .tickIcon{
        margin-top: 7% !important;
    }
}