page-home {
    // ion-slide{
        // img{
        //     height:500px;
        // }
    // }
    .col {
        padding:0px;
    }
    .criz_menu{
        font-size: 1em;
        color: #424242;
        font-weight: 500;
    }
    .criz_icon{
        font-size: 2.5em;
        margin-left: 40%;
        margin-top: 6%;
        color:#424242;
    }
    .grid{
        padding:0px;
    }
    .criz_menu_style{
        padding:3%;
        border-left:1px solid #eaeaea;
        border-bottom:1px solid #eaeaea;
    }

}
