<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CrizCatch</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row style="height:30%">
      <ion-col>
      <ion-slides autoplay="3000">
        <ion-slide>
          <img src="assets/imgs/02.png">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/01.png">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/03.png">
        </ion-slide>
      </ion-slides>
    </ion-col>
    </ion-row>
    <ion-row style="height:70%">
      <ion-col col-6 (tap)="navigatePages('TeamRegistrationPage','no')" class="criz_menu_style">
        <ion-icon name="add-circle" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          Register Team
        </p>
      </ion-col>
      <ion-col col-6 (tap)="navigatePages('MatchDetailsPage','no')" class="criz_menu_style">
        <ion-icon name="list" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          Match Details
        </p>
      </ion-col>
      <ion-col col-6 (tap)="navigatePages('TossPage','no')" class="criz_menu_style">
        <ion-icon name="aperture" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          Flip Toss
        </p>
      </ion-col>
      <ion-col col-6 (tap)="navigatePages('ScoreboardPage','no')" class="criz_menu_style">
        <ion-icon name="grid" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          Score Board
        </p>
      </ion-col>
      <ion-col col-6 (tap)="navigatePages('ProfilePage','no')" class="criz_menu_style">
        <ion-icon name="contact" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          My Profile
        </p>
      </ion-col>
      <ion-col col-6 (tap)="navigatePages('SettingsPage','no')" class="criz_menu_style">
        <ion-icon name="cog" class="criz_icon"></ion-icon>
        <p text-center class="criz_menu">
          Settings
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>