
<!-- Header -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Flip Toss</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-item style="color:#fff;" *ngIf="!showmatch">
        <ion-label stacked style="color:#fff;">Select Match ID</ion-label>
        <ion-select [(ngModel)]="matchID" (ionChange)="getTeamDetails($event)" placeholder="Choose Match">
            <ion-option value="Select" *ngIf="matchDet.length==0" disabled>No Match is Available</ion-option>
            <ion-option *ngFor="let item of matchDet" [value]="item.match_id">{{item.match_id}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item  *ngIf="showmatch">
      <h5 style="color:#fff;">{{showmatchid}}</h5>
    </ion-item>
  </ion-toolbar>
</ion-header>
<!-- End Header -->
<!-- Main Content -->
<ion-content style="padding:5px;background:#f5f5f5;">
  <ion-grid class="tossMain">
    <ion-row padding *ngIf="!fialMatchDet" style="margin-top:25%;">
      <ion-col>
        <img src="assets/imgs/group.png" style="margin-left: 40%;"/>
        <h5 text-center style="color:#424242;">No Teams Selected yet, Select the team and begin the Toss</h5>
      </ion-col>
    </ion-row>
    <!-- Showing the Teams and Toss -->
    <ion-row *ngIf="fialMatchDet" class="tossPrepare">
      <ion-col col-4 class="tossCol">
          <div>
              <img src="assets/imgs/group.png"/>
            </div>
            <div class="teamAname">
              <p *ngIf="fialMatchDet">{{fialMatchDet.team_A_name}}</p>
            </div>
        </ion-col>
        <ion-col col-4 class="tossCol">
          <div class="coinImg">
            <img *ngIf="tossImgsrc == 'stop'" src="./assets/imgs/head.png"/>
            <img *ngIf="tossImgsrc == 'heads'" src="./assets/imgs/head.png"/>
            <img *ngIf="tossImgsrc == 'start'"  src="./assets/imgs/toss-coin.gif" />
            <img *ngIf="tossImgsrc == 'tails'"  src="./assets/imgs/tails.png" />
          </div>
          <div class="tossProcess">
            <button ion-button [disabled]="!buttonDisabled" *ngIf="tossImgsrc == 'stop'" color="light" (click)="tossStart('stop')">Toss</button>
          </div>
          </ion-col>
          <ion-col col-4 class="tossCol">
              <div>
                <img src="assets/imgs/group.png"/>
              </div>
              <div class="teamBname">
                <p *ngIf="fialMatchDet">{{fialMatchDet.team_B_name}}</p>
              </div>
            </ion-col>
          </ion-row>
          <br>
          <!-- End Showing the Teams and Toss -->
          <!-- Result of toss winning team and match details -->
          <div *ngIf="showId">
            <p text-center>Card displays the toss winning team details</p>
            <ion-card>
              <ion-card-header>
                <ion-title>{{teamname}} - {{this.choice}}</ion-title>
              </ion-card-header>
              <ion-card-content>
                  <p class="tossWinningTeam">Name of the Team:&nbsp;{{teamname}}</p>
                  <p class="tossWinningTeam">Choose Toss:&nbsp;{{tossVal}}</p>
                  <p class="choiceReq">Choice Requested:&nbsp;{{choice}}</p>
                  <p class="matchDate">Date:&nbsp;{{today | date: 'dd/MM/yyyy'}}</p>
              </ion-card-content>
            </ion-card>
            <button ion-button block (click)="backtohome()" style="margin-top:7%" full>Back to Start Match</button>
          </div>
          <!-- End Result of toss winning team and match details -->
          <!-- Radio buttons for Team selection, Toss selection, and Choice -->
          <div *ngIf="!showId">
          <form *ngIf="fialMatchDet">
              <h3 class="matchsumHead white" *ngIf="show">Select Team and Toss</h3>
              <h3 class="matchsumHead white" *ngIf="!show">Select Team and Choice</h3>
              <ion-row class="matchToss white">
                  <ion-col col-6 class="matchsumToss">
                      <p>Team</p>
                  </ion-col>
                  <ion-col col-6 class="tossColRes">
                      <ion-list radio-group *ngFor="let teamName of teamNameObj">  
                      <ion-item class="tossItem white black-bg">
                        <ion-radio name="team1" value={{fialMatchDet.team_A_name}} (click)="selectRadio(fialMatchDet.team_A_name,'team')"></ion-radio>
                        <ion-label>{{fialMatchDet.team_A_name}}</ion-label>
                      </ion-item>
                      <ion-item class="tossItem white black-bg">
                          <ion-radio name="team2" value={{fialMatchDet.team_B_name}} (click)="selectRadio(fialMatchDet.team_B_name,'team')"></ion-radio>
                          <ion-label>{{fialMatchDet.team_B_name}}</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row class="matchToss white" *ngIf="!showToss">
                  <ion-col col-6 class="matchsumToss">
                      <p>Toss</p>
                  </ion-col>
                  <ion-col col-6 class="tossColRes">
                      <ion-list radio-group *ngFor="let tossChoice of tossChoiceObj">
                      <ion-item class="tossItem white black-bg">
                        <ion-radio name="team1" value={{tossChoice.heads}} (click)="selectRadio(tossChoice.heads,'toss')"></ion-radio>
                        <ion-label>{{tossChoice.heads}}</ion-label>
                      </ion-item>
                      <ion-item class="tossItem white black-bg">
                          <ion-radio name="team2" value={{tossChoice.tails}} (click)="selectRadio(tossChoice.tails,'toss')"></ion-radio>
                          <ion-label>{{tossChoice.tails}}</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row class="matchChoice white" *ngIf="!show">
                  <ion-col col-6 class="matchsumChoice">
                      <p>Choice</p>
                  </ion-col>
                  <ion-col col-6 class="choiceColRes">
                      <ion-list radio-group *ngFor="let teamChoice of teamChoiceObj">
                      <ion-item class="choiceItem white black-bg">
                          <ion-radio [disabled]="getDisabled()" value={{teamChoice.choiceA}} (click)="selectRadio(teamChoice.choiceA,'choice')"></ion-radio>
                        <ion-label>{{teamChoice.choiceA}}</ion-label>
                      </ion-item>
                      <ion-item class="choiceItem white black-bg">
                          <ion-radio [disabled]="getDisabled()" value={{teamChoice.choiceB}} (click)="selectRadio(teamChoice.choiceB,'choice')"></ion-radio>
                        <ion-label>{{teamChoice.choiceB}}</ion-label>
                      </ion-item>
                      </ion-list>
                  </ion-col>
                </ion-row>
        </form>
        </div>
        <!-- End Radio buttons for Team selection, Toss selection, and Choice -->
        <div *ngIf="fialMatchDet">
          <div padding *ngIf="!showBtn">
            <button ion-button (click)="registerToss()" block color="accent" [disabled]="!saveDisabled">Save</button>
          </div>
        </div>
  </ion-grid>
</ion-content>
<!-- End Main Content -->
