page-toss {
    .white{
        color:#000;
    }
    .tossPrepare{
        background-color: #fff;
        border-radius: 4%;
        text-align: center;
    }
    .teamAimg{
        width: 70%;
        margin-left: 15%;
    }
    .coinImg{
        width:70%;
        margin-left: 15%;
    }
    .teamBimg{
        width: 70%;
        margin-left: 15%;
    }
    .teamAname p{
        font-size: 1.8rem;
        font-weight: bold;
        color:#000;
    }
    .tossProcess p{
        font-size: 1.4rem;
        color:#ff0000;
        font-style: italic;
    }
    .teamBname p{
        font-size: 1.8rem;
        font-weight: bold;
        color:#000;
    }
    .tossCol{
        margin-top: 5%;
    }
    .matchsumHead{
        text-align: center;
        font-size: 1.8rem;
    }
    .matchsumToss{
        border-right:1.3px solid;
        text-align: center;
        margin-top: 4%;
        font-size: 1.5em;
    }
    .matchsumChoice{
        border-right:1.3px solid;
        text-align: center;
        margin-top:4%;
        font-size: 1.5em;
    }
    .tossItem{
        font-size:1.6rem;
        margin-top:4%;
        font-weight: 100;
    }
    .choiceItem{
        font-size: 1.6rem;
        margin-top: 5%;
        font-weight: 100;
    }
    .item-md.item-block .item-inner{
        border-bottom: 0px solid #dedede;
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0px solid #dedede;
    }
   
    .tossResult{
        border: 1px solid #0d6506;
        border-radius: 3%;
        padding-left: 5%;
        font-size: 1.4rem;
    }
    .toolbar-background-md{
        //background: #464646;
    }
    .bar-button-default-md{
        color:#000;
    }
    .toolbar-title-md{
        color:#000;
    }
    .toolbar-background-ios{
       // background: #464646;
    }
    .bar-button-default-ios{
        color:#000;
    }
    .toolbar-title-ios{
        color:#000;
        font-size: 2rem;
    }
    .bar-button-ios{
        font-size: 1.9rem;
    }
    .button-md-light{
        color: #000;
        background-color: #fff;
        box-shadow: none;
        border: 1px solid #0d6506;
        border-radius: 3%;
    }
    .button-ios-light{
        color: #000;
        background-color: #fff;
        box-shadow: none;
        border: 1px solid #0d6506;
        border-radius: 3%;
    }
    .button-md{
        font-size: 0.8em;
    }
    .button-ios{
        font-size: 0.8em;
    }
    .tossBtn{
        padding:5%;
    }
    .label {
        margin: 1px 1px 1px 0;
    }
    .item{
        background: transparent;
    }
    .select-md .select-placeholder{
        color:#fff;
    }
    .card-md{
        margin: 0px;
        width: 100%;
    }

}
