page-settings {
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
    .setting_img {
        width: 12vh;
        height: 12vh;
        margin-left: 40%;
    }
    .opt_icon {
        font-size: 1.5em;
        color: #004ba0;
        text-align: center;
        margin-left: 45%;
    }
    .item-md [item-end],
    .item-md [item-left],
    .item-md [item-right],
    .item-md [item-start] {
        margin: 0px;
    }
    .item-ios [item-end],
    .item-ios [item-left],
    .item-ios [item-right],
    .item-ios [item-start] {
        margin: 0px;
    }
    a {
        color: #222;
        text-decoration: none;
    }
}