<ion-header>
    <ion-navbar color="primary">
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <div *ngIf="contactus != 'show'">
            <ion-row style="background: #1976d2;color:#FFF;">
                <ion-col col-12>
                    <div padding style="width:100%;height:35vh;">
                        <img src="assets/imgs/settings.png" class="setting_img">
                        <h5 text-center>Customize your Settings</h5>
                        <p text-center>Settings will allows to do Customization of your already settings</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-list>
                <ion-item hidden>
                    <ion-icon name="notifications" item-left color="accent"></ion-icon>
                    <ion-label>Notification</ion-label>
                    <ion-toggle item-right checked="false"></ion-toggle>
                </ion-item>
                <ion-item (tap)="toggleAppTheme()" hidden>
                    <ion-icon name="brush" item-left color="accent"></ion-icon>
                    <ion-label>Dark Theme</ion-label>
                    <ion-toggle item-right [checked]="activeTheme"></ion-toggle>
                </ion-item>
                <ion-item (tap)="aboutUs()">
                    <ion-icon name="contact" item-left color="accent"></ion-icon>
                    <ion-label>About Us</ion-label>
                </ion-item>
                <ion-item (tap)="contactUs()">
                    <ion-icon name="call" item-left color="accent"></ion-icon>
                    <ion-label>Contact Us</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="contactus == 'show'">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5933397257654!2d76.97075331488475!3d10.99403625814532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859a2580a8b63%3A0x381e1a9fa7ce452a!2sskein+Technologies+pvt+ltd!5e0!3m2!1sen!2sin!4v1519131017584"
                frameborder="0" style="border:0;width:100%;height:60vh;" allowfullscreen></iframe>
            <br>
            <ion-card>
                <ion-row padding>
                    <ion-col col-6>
                        <ion-icon name="call" class="opt_icon"></ion-icon>
                        <p text-center>
                            <a href="tel:+91 90424 63835">Call</a></p>
                    </ion-col>
                    <!-- <ion-col col-3>
                        <ion-icon name="chatbubbles" class="opt_icon"></ion-icon>
                        <p text-center>Message</p>
                    </ion-col> -->
                    <ion-col col-6 (tap)="shareEmail()">
                        <ion-icon name="mail" class="opt_icon"></ion-icon>
                        <p text-center>Mail</p>
                    </ion-col>
                    <!-- <ion-col col-3>
                        <ion-icon name="locate" class="opt_icon"></ion-icon>
                        <p text-center>Locate</p>
                    </ion-col> -->
                </ion-row>
            </ion-card>
        </div>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <p text-center>CrizCatch V1.0.0</p>
    </ion-toolbar>
</ion-footer>