.dark-theme {
    ion-content {
      background-color: rgb(58, 57, 57);
      color: #fff;
    }
    .toolbar-title {
      color: #fff;
    }
    .header .toolbar-background {
      border-color: #ff0fff;
      background-color: rgb(58, 57, 57);
    }
    .item {
      background: transparent;
      color:#fff;
    }
  }