// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.criz_menuimg {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    margin-left: 37%;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgb(245, 61, 61);
    box-shadow: inset 0 0px 0 0 #f53d3d;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: rgb(245, 61, 61);
    box-shadow: inset 0 0px 0 0 #f53d3d;
}

.list-md[no-lines] .item-block,
.list-md[no-lines] ion-item-options,
.list-md[no-lines] .item .item-inner {
    border-width: 1px;
}

.list-md .item-input:last-child {
    border-bottom: 0px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #32db64;
    box-shadow: inset 0 0px 0 0 #32db64;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: #32db64;
    box-shadow: inset 0 0px 0 0 #32db64;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #1976d2;
    box-shadow: inset 0 0px 0 0;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: #1976d2;
    box-shadow: inset 0 0px 0 0;
}

.list .item-input:last-child {
    border-bottom: 0px solid transparent;
}

ion-input,
ion-select,
ion-datetime {
    border: 0;
}

.list .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: rgb(245, 61, 61);
    box-shadow: inset 0 0px 0 0 #f53d3d;
}

.list .item-input.ng-untouched.ng-pristine:not(.input-has-focus):not(.item-input-has-focus):not(.input-has-focus):not(.item-input-has-focus) {
    border-bottom-color: #eaeaea;
    box-shadow: transparent 0px -1px 0px 0px inset;
}

.list .item-input:last-child {
    border-bottom: 1px solid transparent;
}
.list-md .item-input:last-child{
    border-bottom: 0px;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #32db64;
    box-shadow: inset 0 0px 0 0 #32db64;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom-color: #32db64;
    box-shadow: inset 0 0px 0 0 #32db64;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: #1976d2;
    box-shadow: inset 0 0px 0 0;
}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    border-bottom-color: #1976d2;
    box-shadow: inset 0 0px 0 0;
}
ion-input, ion-select, ion-datetime{
    border: 0;
}


