<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar style="padding:0px;">
            <ion-row style="background: #1976d2;padding:5%;color:#FFF;">
                <ion-icon name="close" menuClose></ion-icon>
                <ion-col col-12>
                    <div style="width:100%;height:9%;">
                        <img src="assets/imgs/icon_03.png" class="criz_menuimg">
                        <h5 text-center>{{loginData.username}}</h5>
                        <p text-center>{{loginData.email_id}}</p>
                        <p text-center>{{loginData.mobile_no}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (tap)="navigatePages('TeamRegistrationPage','no')" menuClose detail-none>
                <ion-icon name="add-circle" item-start></ion-icon>Team Register</ion-item>
            <ion-item (tap)="navigatePages('ScoreboardPage','no')" menuClose detail-none>
                <ion-icon name="grid" item-start></ion-icon>Score Board</ion-item>
            <ion-item (tap)="navigatePages('MatchDetailsPage','no')" menuClose detail-none>
                <ion-icon name="list" item-start></ion-icon>Match Details</ion-item>
            <ion-item (tap)="navigatePages('TossPage','no')" menuClose detail-none>
                <ion-icon name="aperture" item-start></ion-icon>Flip Toss</ion-item>
            <ion-item (tap)="navigatePages('ProfilePage','no')" menuClose detail-none>
                <ion-icon name="contact" item-start></ion-icon>My Profile</ion-item>
            <ion-item (tap)="navigatePages('SettingsPage','no')" menuClose detail-none>
                <ion-icon name="cog" item-start></ion-icon>Settings</ion-item>
            <ion-item (tap)="navigatePages('RegistrationPage','yes')" menuClose detail-none>
                <ion-icon name="log-out" item-start></ion-icon>Logout</ion-item>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <p text-center>CrizCatch V1.0.0</p>
        </ion-toolbar>
    </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" [class]="selectedTheme"></ion-nav>