<!--Match Details Header section -->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Match Details</ion-title>
    </ion-navbar>
</ion-header>
<!-- Match Details Content section -->
<ion-content>
    <ion-fab right bottom *ngIf="addmatch == 'hide'">
        <button ion-fab color="accent" (tap)="addmatchdetails('show')">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-list no-lines *ngIf="addmatch == 'show'">
        <form [formGroup]="matchForm">
            <ion-list-header style="background: #f5f5f5;">
                <ion-title>Schedule a Match</ion-title>
            </ion-list-header>
            <ion-item hidden>
                <ion-label stacked>User ID</ion-label>
                <ion-input type="text" formControlName="user_id" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Match ID</ion-label>
                <ion-input type="text" formControlName="match_id" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Team A</ion-label>
                <ion-select formControlName="team_A_name" placeholder="Select Team A" (ionChange)="selectTeam($event,'A')">
                    <!-- <ion-option [selected]="true" value="select">Select</ion-option> -->
                    <ion-option *ngFor="let t of teamData" [value]="t" [disabled]="team_B == t.team_id">{{t.team_name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item hidden>
                <ion-label stacked>Team A ID</ion-label>
                <ion-input type="text" formControlName="team_A_id" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Team B</ion-label>
                <ion-select formControlName="team_B_name" placeholder="Select Team B" (ionChange)="selectTeam($event,'B')">
                    <!-- <ion-option value="select">Select</ion-option> -->
                    <ion-option *ngFor="let t of teamData" [value]="t" [disabled]="team_A == t.team_id">{{t.team_name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item hidden>
                <ion-label stacked>Team B ID</ion-label>
                <ion-input type="text" formControlName="team_B_id" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Overs</ion-label>
                <ion-input type="number" formControlName="overs" maxlength="2" placeholder="Overs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Date</ion-label>
                <ion-datetime type="date" pickerFormat="DD MM YYYY" displayFormat="DD-MM-YYYY" placeholder="DD-MM-YYYY" formControlName="match_date"></ion-datetime>
            </ion-item>
            <!-- <ion-item hidden>
                <ion-label stacked>Time</ion-label>
                <ion-datetime displayFormat="HH:mm:ss" formControlName="match_time"></ion-datetime>
            </ion-item> -->
            <div class="buttons" style="margin-top:10%">
                <button ion-button round color="accent" [disabled]="!matchForm.valid" (tap)="addMatch()" padding>Save</button>
            </div>
        </form>
        <br>
    </ion-list>
    <div class="no_match" *ngIf="(matchDet == null)&&(addmatch == 'hide')">
        <ion-icon name="list" style="font-size:6rem;"></ion-icon>
        <h5>No Match is Scheduled</h5>
        <h5>Add Match below</h5>
    </div>
    <div *ngIf="matchDet != null">
        <!-- Listing the All Match Details from the Api-->
        <ion-list no-lines *ngIf="addmatch == 'hide'">
            <!-- Each Match details are obatained through the For loop -->
            <ion-item *ngFor="let detail of matchDet">
                <ion-card>
                    <ion-card-header style="background: #f5f5f5;">
                        <ion-title>
                            <b>{{detail.team_A_name}}&nbsp; VS&nbsp; {{detail.team_B_name}}</b>

                        </ion-title>
                        <p style="margin-left:10px;margin-top:3px;color:#1976d2;">
                            <b>{{detail.match_date}}</b>
                            <!-- <b>{{detail.match_time}}</b> -->
                        </p>
                        <ion-fab top right>
                            <button ion-fab mini>
                            <ion-icon name="share"></ion-icon>
                        </button>
                            <ion-fab-list>
                                <button ion-fab (click)="sharing_to_whatsapp(detail)">
                                <ion-icon name="logo-whatsapp"></ion-icon>
                            </button>
                                <button ion-fab (click)="sharing_to_mail(detail)" hidden>
                                <ion-icon name="mail"></ion-icon>
                            </button>
                            </ion-fab-list>
                        </ion-fab>
                    </ion-card-header>
                    <ion-card-content style="padding:5px;">
                        <!-- <p>Team A : {{detail.team_A_name}}</p>
                    <p>Team B : {{detail.team_B_name}}</p> -->
                        <b>Match ID:&nbsp;{{detail.match_id}}</b>
                        <p>Overs :&nbsp;{{detail.overs}}</p>
                        <p *ngIf="detail.result!=null">Result :&nbsp;{{detail.result}}</p>
                    </ion-card-content>
                    <div class="buttons">
                        <button ion-button color="accent" round (tap)="navigatepage(detail)" *ngIf="detail.status==null">Proceed</button>
                        <button ion-button color="accent" outline round (tap)="navigatepage(detail)" *ngIf="detail.status!=null">{{detail.status}}</button>
                    </div>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<!-- <ion-footer *ngIf="addmatch == 'show'">
    <ion-toolbar padding>
        <button ion-button block color="accent" [disabled]="!matchForm" (tap)="addMatch()">Save</button>
    </ion-toolbar>
</ion-footer> -->