page-match-details {
    // Re-Sized ion-card 
    .scroll-content {
        padding: 0px !important;
    }
    .no_match{
        margin-top: 40%;
        color: grey;
        text-align: center;
    }
    ion-card{
        height: auto;
    }
    .item {
        font-size: 1.4rem;
        background: transparent;
    }
    .buttons{
        text-align: center;
        margin: 3%;
    }
    ion-card-content{
        p{
            text-align: left;

        }
    }
}
