page-scoreboard {

    ion-content{
        background-color:lightgrey !important;
    }
    ion-select{
        max-width: 60% !important;
        text-align: left;
    }
    .item-input .label, .item-select .label, .item-datetime .label {
        color: black;
    }
    .scoreboard{
        box-shadow: 3px 3px 3px 3px #888888;
        border-radius: 1%;
        background-color:#F5F5F5;
        .team_name {
            font-weight: bold;
            margin: 0% !important;
        }
    }
    .board_updates{
        background-color:lightgrey;
        padding:0 5px 0 5px;
        margin-bottom: 0;
        
        .col{
            padding: 5px 0 5px 0;
        }
        .card-content{
            padding: 0 0 2% 0;
        }
        .label{
            margin:0 !important;
        }
        .balls{
            margin-right: 1%;
        }
    }
    .current_ball{
        margin: 0% !important;
    }
    .Bowler_stats {
        ion-col {
            padding: 0% !important;
        }
    }
    .Current_bowler{
        background-color:lightgrey;
        // padding: 0% !important;
        ion-input, ion-select{
            border-bottom: 0 !important;
        }
    }
    .Current_batsman{
        
        margin-top:3%;
        ion-input, ion-select{
            color: black;
            border-bottom: 0 !important;
        }
        // .Current_batsman_1, .Current_batsman_2{
        //     padding: 0% !important;
        // }
        ion-col,
        ion-item {
            background-color:lightgrey;
            color: black;
            padding: 0% !important;
        }
    }
    .on_Strike {
        text-align: center;
        font-weight: bold;
    }
    .col {
        padding: 0px;
    }
}