<!-- ScoreBoard Header Section -->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>ScoreBoard</ion-title>
    </ion-navbar>
    <!-- <ion-toolbar color="primary" *ngIf="matchDetails == 'matchdetails'">
        <ion-title>Select Match</ion-title>
    </ion-toolbar> -->
</ion-header>
<!-- Scoreboard Contents -->
<ion-content padding>
    <!-- Team Score and detail -->
    <div *ngIf="match_details.length >=1">
        <ion-grid class="scoreboard" fixed>
            <ion-row justify-content-center>
                <ion-col col-4 align-self-center>
                    <p class="team_name" text-center>{{batting_team}}</p>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <p text-center>{{batting_team}} {{score}}/{{wickets}}</p>
                    <p text-center>Overs {{overs}}</p>
                </ion-col>
                <ion-col col-4 align-self-center>
                    <p class="team_name" text-center>{{bowling_team}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- Current Batsmans details -->
        <ion-grid class="Current_batsman">
            <ion-row justify-content-center>
                <ion-col>
                    <ion-item class="Current_batsman_1">
                        <ion-label>
                            Batsman 1 :
                        </ion-label>
                        <ion-select [(ngModel)]="batsman_1_id" [selectedText]="batsman_1_name" placeholder="Select Batsman" (ionChange)="batsman_1_change($event)" okText="Confirm" cancelText="Dismiss">
                            <ion-option *ngFor="let name of temp_batsman" [value]="name.id" [disabled]="(name.id == batsman_2_id)" [selected]="name.id == batsman_1_id">{{name.player}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-center text-center>
                    {{batsman_1_runs}}({{batsman_1_balls}})
                </ion-col>
                <ion-col col-auto align-self-center>
                    <p *ngIf="on_strike" class="on_Strike">*</p>
                </ion-col>
            </ion-row>
            <ion-row justify-content-center>
                <ion-col>
                    <ion-item class="Current_batsman_2">
                        <ion-label>
                            Batsman 2 :
                        </ion-label>
                        <ion-select [(ngModel)]="batsman_2_id" [selectedText]="batsman_2_name" placeholder="Select Batsman" (ionChange)="batsman_2_change($event)" okText="Confirm" cancelText="Dismiss">
                            <ion-option *ngFor="let name of temp_batsman" [value]="name.id" [disabled]="(name.id == batsman_1_id)" [selected]="(name.id == batsman_2_id)">{{name.player}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-center text-center>
                    {{batsman_2_runs}}({{batsman_2_balls}})
                </ion-col>
                <ion-col col-auto align-self-center>
                    <p *ngIf="!on_strike" class="on_Strike">*</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- current bowler Details -->
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="Current_bowler">
                        <ion-label>Bowler:</ion-label>
                        <ion-select [(ngModel)]="bowler_id" [selectedText]="bowler_name" placeholder="Select Bowler" (ionChange)="bowler_choose($event)" okText="Select Bowler" cancelText="Dismiss">
                            <ion-option *ngFor="let name of temp_bowler" [value]="name.id" [disabled]="(name.id == prev_bowler_id)">{{name.player}}</ion-option>
                            checked="(name.id === bowler_id)?true:false"
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-3 align-self-center>
                    <ion-row class="Bowler_stats">
                        <ion-col align-self-center>O</ion-col>
                        <ion-col align-self-center>R</ion-col>
                        <ion-col align-self-center>W</ion-col>
                    </ion-row>
                    <ion-row class="Bowler_stats">
                        <ion-col align-self-center>{{current_bowler_over}}</ion-col>
                        <ion-col align-self-center>{{current_bowler_runs}}</ion-col>
                        <ion-col align-self-center>{{current_bowler_wicket}}</ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- ScoreBoard updates  -->
        <ion-card class="board_updates">
            <ion-card-content text-center>
                <ion-grid>
                    <ion-row justify-content-center>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(0)">0</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(1)">1</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(2)">2</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(3)">3</button>
                        </ion-col>
                    </ion-row>
                    <ion-row justify-content-center>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(4)">4</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(5)">5</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="run_tap(6)">6</button>
                        </ion-col>
                    </ion-row>
                    <ion-row justify-content-center>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="extras_tap('b')">B</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="extras_tap('l')">LB</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="extras_tap('w')">Wd</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="primary" round small (click)="extras_tap('n')">NB</button>
                        </ion-col>
                    </ion-row>
                    <ion-row justify-content-center>
                        <ion-col>
                            <button ion-button color="danger" round small (click)="player_out('H')">RH</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="danger" round small (click)="player_out('W')">WK</button>
                        </ion-col>
                        <ion-col>
                            <button ion-button color="danger" round small (click)="player_out('O')">RO</button>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row>
                <ion-col>
                    <ion-card (tap)="switchScreen()">
                        <ion-card-header style="background: #f5f5f5;">
                            <ion-title>{{matchDet.match_date}}</ion-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p>{{matchDet.team_A_name}}</p>
                            <p>{{matchDet.team_B_name}}</p>
                            <p>{{matchDet.overs}}</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row> -->
                    <!-- <ion-row *ngIf="matchDetails == 'scoreboard'"> -->
                    <ion-row>
                        <ion-col>
                            <ion-badge name="remove-circle" (click)="clear_value()">Clear</ion-badge>
                        </ion-col>
                        <ion-col>
                            <ion-label class="current_ball">{{current_ball_score}}</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-badge name="add-circle" (click)="update()">Add</ion-badge>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-badge class="balls" color="primary" *ngFor="let i of over">{{i}}</ion-badge>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>